<form action="/create" method="post">
  <input placeholder="Inserisci pesata" type="number" step="0.1">
  <button type="submit">Invia</button>
</form>

<h1>Ultime dieci pesate</h1>
<ul>
  <li>56 kg</li>
  <li>57 kg</li>
  <li>56 kg</li>
  <li>55 kg</li>
  <li>56 kg</li>
  </ul>
  <%= link_to("Vedi tutte", "/archivio") %> 


