<form action="/salva" method="post">
  <input placeholder="Inserisci pesata" type="number" step="0.1">
  <button type="submit">Invia</button>
</form>

<h1>Ultime dieci pesate</h1>
<ul>
  <li>56 kg</li>
  <li>57 kg</li>
  <li>56 kg</li>
  <li>55 kg</li>
  <li>56 kg</li>
</ul>

<h1>Informazioni</h1>
<ul>
  <li>Peso iniziale</li>
  <li>Peso obiettivo</li>
</ul>
